<h3>Press</h3>

<p>A lot of people really liked this, and that's awesome.</p>

<ul class="press-list">
	<li>Most importantly, <a href="">David Price tweeted about it</a>.</li>
	<li><a href="http://andrewstoeten.com/2015/09/30/the-david-price-nickname-generator-is-amazing-a-thing/">The David Price Nickname Generator Is Amazing, A Thing</a> (AndrewStoeten.com)</li>
	<li><a href="http://news.nationalpost.com/sports/mlb/toronto-blue-jays-fan-created-a-david-price-nickname-generator-and-the-ace-thought-it-was-pretty-funny">Toronto Blue Jays fan created a David Price nickname generator and the ace thought it was 'pretty funny'</a> (National Post)</li>
	<li>Mentioned by <a href="https://twitter.com/MikeFerrinSXM/status/649598756283936768">Mike Ferrin</a> on MLB Network Radio (Sirius XM)</li>
	<li><a href="http://www.1077theriver.ca/2015/10/01/david-price-nickname-generator/">David Price Nickname Generator</a> (107.7 The River, Lethbridge)</li>
	<li><a href="http://www.thewolf.ca/2015/10/02/the-david-price-nickname-generator/">The David Price Nickname Generator</a> (101.5 The Wolf, Peterborough)</li>
	<li><a href="http://www.citynews.ca/2015/10/02/trending-kelly-gruber-is-back-well-in-a-new-parody-video-at-least/">Kelly Gruber is back! (Well, in a new parody video, at least)</a> (CityNews - linked at the bottom)</li>
	<li>Also appeared on <a href="http://www.680news.com">680 News Radio</a> and <a href="http://www.citynews.ca">City News (TV)</a>.</li>
</ul>